.app-page {
  width: 100%;
  margin: 0 !important;

  .page-title {
    font-weight: 500;
    font-size: 18px;
    margin-left: 40px;
  }

  .page-item {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
  }

  .kyc-list-item {
    padding: 8px;
  }
}
