$white: #ffffff;
$green: #27ae60;
$yellow: #f8bd27;
$red: #42058f;
$blue: #7227d0;
$blue_light: #ae73f7;
$blue_lighter: #f1b9ff;
$head: #7227d0;
$gray2: #4f4f4f;
$gray3: #828282;
$gray4: #bdbdbd;
$gray5: #e0e0e0;
$gray6: #f1f0f6;
$warning_color: #ffa600;

$box_shadow: 0 4px 11px rgba(0, 0, 0, 0.1);
$bg_color: #f5f8fa;
